In [2]:
import numpy as np
import pandas as pd

In [3]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/' \
    'vehicles.csv.zip'
df = pd.read_csv(url)

/var/folders/0m/djy5jf494nl4fkspl_602jb00000gn/T/ipykernel_6922/1193079992.py:3: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [4]:
city_mpg = df.city08
highway_mpg = df.highway08
make = df.make

In [5]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [6]:
make.astype('string')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: string

In [7]:
make.astype('category')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: category
Categories (136, object): ['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo', ..., 'Volvo', 'Wallace Environmental', 'Yugo', 'smart']

In [8]:
'Ford'.lower()

'ford'

In [9]:
make.str.lower()

0        alfa romeo
1           ferrari
2             dodge
3             dodge
4            subaru
            ...
41139        subaru
41140        subaru
41141        subaru
41142        subaru
41143        subaru
Name: make, Length: 41144, dtype: object

In [10]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [11]:
'Alfa Romeo'.find('A')

0

In [12]:
make.str.find('A')

0        0
1       -1
2       -1
3       -1
4       -1
        ..
41139   -1
41140   -1
41141   -1
41142   -1
41143   -1
Name: make, Length: 41144, dtype: int64

In [13]:
make.str.extract(r'([^a-z A-Z])')

         0
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
41139  NaN
41140  NaN
41141  NaN
41142  NaN
41143  NaN

[41144 rows x 1 columns]

In [14]:
(make.str.extract(r'([^a-z A-Z])', expand=False)
    .value_counts()
)

-    1727
.      46
,       9
Name: make, dtype: int64

In [15]:
# To find out if a col has non numeric characters
(make
    .str.extract(r'([^0-9.])', expand=False)
    .value_counts()
)

C    5336
M    4833
F    3686
B    2796
G    2691
D    2679
P    2589
S    2234
T    2159
V    2001
H    1803
A    1610
N    1471
J    1435
L    1241
I     860
K     618
O     462
R     392
E     167
s      38
W      32
Y       8
Q       3
Name: make, dtype: int64

In [16]:
age = pd.Series(['0-10', '11-15', '11-15', '61-65', '46-50'])

In [17]:
age

0     0-10
1    11-15
2    11-15
3    61-65
4    46-50
dtype: object

In [18]:
age.str.split('-')

0     [0, 10]
1    [11, 15]
2    [11, 15]
3    [61, 65]
4    [46, 50]
dtype: object

In [19]:
(age
    .str.split('-', expand=True)
    .iloc[:,0]
    .astype(int)
)

0     0
1    11
2    11
3    61
4    46
Name: 0, dtype: int64

In [20]:
(age
    .str.slice(-2)
    .astype(int)
)

0    10
1    15
2    15
3    65
4    50
dtype: int64

In [21]:
(age
    .str[-2:]
    .astype(int)
)

0    10
1    15
2    15
3    65
4    50
dtype: int64

In [22]:
(age
    .str.split('-', expand=True)
    .astype(int)
    .mean(axis='columns')
)

0     5.0
1    13.0
2    13.0
3    63.0
4    48.0
dtype: float64

In [23]:
import random

In [24]:
def between(row):
    return random.randint(*row.values)

In [25]:
(age
    .str.split('-', expand=True)
    .astype(int)
    .apply(between, axis='columns')
)

0     5
1    12
2    11
3    61
4    46
dtype: int64

In [26]:
%load_ext Cython

In [27]:
%%cython
import random
def between_cy(rows):
    return random.randint(*rows.values)

Content of stderr:
/Users/seanphillips/.ipython/cython/_cython_magic_2d095262bee217b3971ce6ca4022e125d96dbd22.c:4575:5: warning: 'tp_print' is deprecated [-Wdeprecated-declarations]
    0,
    ^
/opt/anaconda3/include/python3.8/cpython/object.h:260:5: note: 'tp_print' has been explicitly marked deprecated here
    Py_DEPRECATED(3.8) int (*tp_print)(PyObject *, FILE *, int);
    ^
/opt/anaconda3/include/python3.8/pyport.h:515:54: note: expanded from macro 'Py_DEPRECATED'
#define Py_DEPRECATED(VERSION_UNUSED) __attribute__((__deprecated__))
                                                     ^
1 warning generated.

In [28]:
%%cython
import random
cpdef int between_cy3(int x, int y):
    return random.randint(x, y)

In [29]:
(age
    .str.split('-', expand=True)
    .astype(int)
    .apply(lambda row: between_cy3(row[0], row[1]), axis=1)
)

0     0
1    15
2    15
3    64
4    47
dtype: int64

In [32]:
%prun -l 10 (age.str.split('-', expand=True).astype(int).apply(lambda row: between_cy3(row[0], row[1]), axis=1))

         1509 function calls (1491 primitive calls) in 0.004 seconds

   Ordered by: internal time
   List reduced from 294 to 10 due to restriction <10>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.004    0.004 {built-in method builtins.exec}
  328/327    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
        4    0.000    0.000    0.000    0.000 {pandas._libs.lib.maybe_convert_objects}
        3    0.000    0.000    0.000    0.000 {method 'reduce' of 'numpy.ufunc' objects}
      3/2    0.000    0.000    0.001    0.001 series.py:323(__init__)
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.map_infer_mask}
        5    0.000    0.000    0.000    0.000 construction.py:470(sanitize_array)
      2/1    0.000    0.000    0.000    0.000 base.py:397(__new__)
       10    0.000    0.000    0.000    0.000 series.py:943(__getitem__)
    95/83    0.000    0.000    0.000    0.000 {built-in method builtins.len}

In [33]:
%%cython
cimport numpy as np
import numpy as np
import random
cpdef np.ndarray[int] apply_between_cy4(np.ndarray[int] x, np.ndarray[int] y):
    cdef np.ndarray[int] res = np.empty(len(x), dtype='int32')
    for i in range(len(x)):
        res[i] = random.randint(x[i], y[i])
    return res

Content of stderr:
In file included from /Users/seanphillips/.ipython/cython/_cython_magic_9370a71495e1090f9a15216a15c0aedcfdaf8701.c:1107:
In file included from /opt/anaconda3/lib/python3.8/site-packages/numpy/core/include/numpy/arrayobject.h:5:
In file included from /opt/anaconda3/lib/python3.8/site-packages/numpy/core/include/numpy/ndarrayobject.h:12:
In file included from /opt/anaconda3/lib/python3.8/site-packages/numpy/core/include/numpy/ndarraytypes.h:1940:
/opt/anaconda3/lib/python3.8/site-packages/numpy/core/include/numpy/npy_1_7_deprecated_api.h:17:2: warning: "Using deprecated NumPy API, disable it with "          "#define NPY_NO_DEPRECATED_API NPY_1_7_API_VERSION" [-W#warnings]
#warning "Using deprecated NumPy API, disable it with " \
 ^
/Users/seanphillips/.ipython/cython/_cython_magic_9370a71495e1090f9a15216a15c0aedcfdaf8701.c:8209:5: warning: 'tp_print' is deprecated [-Wdeprecated-declarations]
    0,
    ^
/opt/anaconda3/include/python3.8/cpython/object.h:260:5: note: 'tp_print' has been explicitly marked deprecated here
    Py_DEPRECATED(3.8) int (*tp_print)(PyObject *, FILE *, int);
    ^
/opt/anaconda3/include/python3.8/pyport.h:515:54: note: expanded from macro 'Py_DEPRECATED'
#define Py_DEPRECATED(VERSION_UNUSED) __attribute__((__deprecated__))
                                                     ^
2 warnings generated.

In [35]:
(age
    .str.split('-', expand=True)
    .astype(int)
    .pipe(lambda df_: apply_between_cy4(df_.iloc[:, 0].to_numpy(dtype='int32'),
                                       df_.iloc[:, 1].to_numpy(dtype='int32')))
)

array([ 0, 12, 11, 63, 46], dtype=int32)

In [36]:
make.str.replace('A', 'Å')

0        Ålfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [38]:
make.replace('A', 'Å')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [40]:
make.replace({'Audi': 'Åudi', 'Acura': 'Åcura', 'Alfa Romeo': 'Ålfa Romeo'})

0        Ålfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [41]:
make.replace('A', 'A', regex=True)

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object