In [1]:
import numpy as np
import pandas as pd

In [2]:
df = {
    'index':[0,1,2],
    'cols': [
        {'name': 'growth',
         'data': [.5, .7, 1.2] },
        {'name': 'Name',
         'data': ['Paul', 'George', 'Ringo']}
    ]
}

In [3]:
def get_row(df, idx):
    results = []
    value_idx = df['index'].index(idx)
    for col in df['cols']:
        results.append(col['data'][value_idx])
    return results

In [4]:
get_row(df, 1)

[0.7, 'George']

In [7]:
def get_col(df, name):
    for col in df['cols']:
        if col['name'] == name:
            return col['data']

In [8]:
get_col(df, 'Name')

['Paul', 'George', 'Ringo']

In [9]:
df = pd.DataFrame({
    'growth':[.5, .7, 1.2],
    'Name': ['Paul', 'George', 'Ringo']
})

In [10]:
df

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [11]:
df.iloc[2]

growth      1.2
Name      Ringo
Name: 2, dtype: object

In [13]:
df['Name']

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [14]:
type(df['Name'])

pandas.core.series.Series

In [15]:
df['Name'].str.lower()

0      paul
1    george
2     ringo
Name: Name, dtype: object

In [16]:
df.Name

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [17]:
pd.DataFrame([
    {'growth':.5, 'Name': 'Paul'},
    {'growth':.7, 'Name': 'George'},
    {'growth':1.2, 'Name': 'Ringo'}
])

   growth    Name
0     0.5    Paul
1     0.7  George
2     1.2   Ringo

In [18]:
from io import StringIO

In [19]:
csv_file = StringIO("""growth,Name
.5, Paul
.7, George
1.2, Ringo""")

In [20]:
pd.read_csv(csv_file)

   growth     Name
0     0.5     Paul
1     0.7   George
2     1.2    Ringo

In [21]:
np.random.seed(42)

In [22]:
pd.DataFrame(np.random.randn(10,3),
            columns=['a', 'b', 'c'])

          a         b         c
0  0.496714 -0.138264  0.647689
1  1.523030 -0.234153 -0.234137
2  1.579213  0.767435 -0.469474
3  0.542560 -0.463418 -0.465730
4  0.241962 -1.913280 -1.724918
5 -0.562288 -1.012831  0.314247
6 -0.908024 -1.412304  1.465649
7 -0.225776  0.067528 -1.424748
8 -0.544383  0.110923 -1.150994
9  0.375698 -0.600639 -0.291694

In [23]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['growth', 'Name'], dtype='object')]

In [24]:
df.sum(axis=0)

growth                2.4
Name      PaulGeorgeRingo
dtype: object

In [25]:
df.sum(axis=1)

/var/folders/0m/djy5jf494nl4fkspl_602jb00000gn/T/ipykernel_1147/1459321664.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis=1)

0    0.5
1    0.7
2    1.2
dtype: float64

In [26]:
df.sum(axis='index')

growth                2.4
Name      PaulGeorgeRingo
dtype: object

In [27]:
df.sum(axis='columns')

/var/folders/0m/djy5jf494nl4fkspl_602jb00000gn/T/ipykernel_1147/4283019124.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis='columns')

0    0.5
1    0.7
2    1.2
dtype: float64

In [28]:
df.axes[0]

RangeIndex(start=0, stop=3, step=1)

In [29]:
df.axes[1]

Index(['growth', 'Name'], dtype='object')

In [30]:
df = pd.DataFrame({'Score1':[None, None],
                   'Score2':[85, 90]})

In [31]:
df

  Score1  Score2
0   None      85
1   None      90

In [32]:
df.apply(np.sum, axis=0)

Score1      0
Score2    175
dtype: int64

In [33]:
df.apply(np.sum, axis=1)

0    85
1    90
dtype: int64